# Ignore Visual Studio temporary files and folders
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.pdb
*.cache
*.log
*.tlog
*.ide
*.sln.docstates

# Rider project files
.idea/
*.sln.iml

# Visual Studio Code settings
.vscode/

# MacOS files
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Web files
node_modules/